body {
  --h2-color: #f4c7c3;
  --hr-color: #BF9ED4;
  --italic-color: #BF9ED4;
  --sidebar-left-background: #16161e;
  --background-primary: #16161e;
  --background-primary-alt: #16161e;
  --background-secondary: #16161e;
  --background-secondary-alt: #16161e;
}
