body {
  --h2-color: #f4c7c3;
  --hr-color: #BF9ED4;
  --italic-color: #BF9ED4;
  --sidebar-left-background: #1A1B26;
  --background-primary: #1A1B26;
  --background-primary-alt: #1A1B26;
  --background-secondary: #1A1B26;
  --background-secondary-alt: #1A1B26;
}
